<!DOCTYPE html>
<html>
<head>
  <title>Visual Regression Dashboard</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='gptFavicon.png') }}">  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/dashboard.js"></script>
</head>
<h1>Add Site</h1>
<body>

<a href="/status">Click here for monitoring-friendly status page</a><br><br>
<input id="url" placeholder="URL">
<input id="site_name" placeholder="Site Name">
<input id="interval" type="number" placeholder="Interval (min)">
<input id="cookie_accept_selector" placeholder="Optional Cookie Selector">
<input id="viewport_width" placeholder="viewport width (1366 default)">
<input id="viewport_height" placeholder="viewport height (600 default)">
<input id="wait_time" type="number" placeholder="Wait time (sec, default 2)">
<button onclick="addSite()">Add</button>
<h1>Monitored Sites</h1>
<div class="dashboard-grid">
  {% for job_id, site in sites.items() %}
    <div class="site-card
                {% if site.change_detected %} alert{% endif %}
                {% if site.paused %} paused{% endif %}">
      <a href="/site/{{ site.site_name }}">
        <h3>{{ site.site_name }}</h3>
        <img loading="lazy" src="{{ site.images[0] if site.images else '/static/placeholder.png' }}" alt="{{ site.site_name }}" class="thumbnail">
      </a>
      <button onclick="removeSite('{{ job_id }}')">Delete</button>
    </div>
  {% endfor %}
</div>
<hr>

</body>
</html>
